<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>Request Header Parser</h1>
        <p>URL: https://heavenly-breath.glitch.me</p>
        <p>Append the URL with <font color= "red">{ "/api/whoami" }</font></p>
       
        <p>EXAMPLE: https://heavenly-breath.glitch.me/api/whoami</p>
        <p>This will return a json with your ip address, language and software of you system and browser</p>

        <h3>Eaxmple Output</h3>
        <p><font color= "green">{ " ipaddress: "127.0.0.1", language: "en-US", software: "Chrome 60.0.3112 / Windows 10 0.0.0" }</font></p>
      </div>
   </body>

</html>
